<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Inserção Instituição</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header"></div>
	<main role="main" class="container">
	<form  class="form-horizontal" action="/instituicoes/inserir" method="post" th:object="${instituicao}">
	<div class="container">	
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<h1>Cadastrar nova instituição</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="txt-nome">Nome:</label>
					<input type="text" id="txt-nome" class="form-control" th:field="*{nome}" required="required"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="txt-endereco">Endereço:</label>
					<input type="text" id="txt-endereco" class="form-control" th:field="*{endereco}" required="required"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="submit"  class="btn btn-outline-success" value="Salvar" />
				</div>
			</div>
		</div>
	</div>
	</form>
	</main>	
	<div th:replace="fragmentos/fragmentos :: footer"></div>
	<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js" ></script>
	<script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>	
</body>
</html>