<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Home</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
<style>
	body {
			background-image: url('/images/fototouchrobo.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover; 
		} 
</style>
</head>
<body>
	
	<div th:replace="fragmentos/fragmentos :: header"></div>
	
	<div th:replace="fragmentos/fragmentos :: footer"></div> 
 
	<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js" ></script>
	<script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>